:root {
	--primary-color: #b3b626;
	--secondary-color: #333;
	--background-color: #f4f4f4;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--secondary-color);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	color: var(--background-color)
}

form {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	gap: 10px;
	background: var(--primary-color);
	padding: 15px;
	border-radius: 10px;
	outline: 10px #ffebcd solid;
	box-shadow: 0px 0px 10px 10px #000000;
}

form div {
	display: grid;
	font-family: fantasy;
	font-size: 20px;
	gap: 4px;
	font-weight: bold;
}

form div input,
form div select {
	margin: 0px 10px;
	height: 25px;
	outline: none;
	border: 2px #6a5050 solid;
	border-radius: 5px;
	font-weight: 700;
	font-size: 15px;
}

input:focus,
select:focus {
	outline: 4px var(--background-color) solid;
	border: transparent;
}

button {
	width: 100px;
	margin: auto;
	padding: 8px;
	border: none;
	border-radius: 8px;
	font-size: large;
	color: var(--secondary-color);
	font-weight: 600;
}

button:active {
	outline: 4px var(--background-color) solid; 
}