<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>distribution Calculator</title>
    <link rel="stylesheet" href="../style/distribution.css">
</head>
<body>
    <form id="form">
        <div>
            <span>Tooth</span>
            <input type="number" step="1" id="Teeth">
        </div>
        <div>
            <span>Base</span>
            <input type="number" step="1" id="Base" value="40">
        </div>
        <div>
            <button>Calculate</button>
        </div>
        <div id="outPut"></div>
    </form>
    <footer>Made By Eng\ <a href="https://wa.me?qr/7F7Y34UUHGR4M1">Hasan Mohamed</a></footer>
    <script src="../js/distribution.js"></script>
</body>
</html>